[Unit]
Description=Kactus Meerkat Fallback
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=1
User=root
ExecStartPre=/usr/bin/sudo -u kyler /usr/local/bin/cargo build --release --bin meerkat-fallback
ExecStart=/home/kyler/kactus-gtfs-rt/target/release/meerkat-fallback
WorkingDirectory=/home/kyler/kactus-gtfs-rt/

[Install]
WantedBy=multi-user.target
