[Unit]
Description=Kactus Amtrak
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=1
ExecStart=/usr/local/bin/cargo run --bin ingestamtrak
WorkingDirectory=/opt/kactus-gtfs-rt

[Install]
WantedBy=multi-user.target
